{#
/**
 * @file
 * Spotify artists block.
 *
 * Available variables:
 * - artists: An array of artist information.
 *   - name: The name of the artist.
 *   - id: The Spotify ID for the artist.
 *   - url: The URL object for the artist detail page.
 */
#}

{% if artists %}
  <div class="spotify-artists-list">
    <ul>
      {% for artist in artists %}
        <li class="spotify-artist">
           {% if artist.url %}
            <a href="{{ artist.url }}" class="spotify-artist__link">
              <span class="spotify-artist__name">{{ artist.name }}</span>
            </a>
          {% else %}
            <span class="spotify-artist__name">{{ artist.name }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>{{ 'No artists configured.'|t }}</p>
{% endif %}